body {
    background-color: rgb(156, 156, 43);
}
#new-post-form{
    border-radius: 25px;
    background: rgb(161, 46, 46);
    padding: 20px; 
    width: 200px;
    height: 150px; 
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: black;
}
li  {
    margin: 0 auto;
    border-radius: 25px;
    background: green;
    padding: 20px; 
    width: 300px;
    min-height: 80px; 
    list-style-type:none;
}
.delete-post{
    background-color: tomato;
}
.like-button, .input{
    display: inline-block;
    padding: 10px;
}

  